<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.student.pro.prostudent">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/action_create_account"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.MyTicketsActivity"
            android:label="@string/title_home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.MyNotesActivity"
            android:label="@string/title_home"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.FavoritesActivity"
            android:label="@string/title_favorites"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.TicketActivity"
            android:label="@string/action_send_ticket"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.ClassActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.NoteActivity"
            android:label="@string/action_send_note"
             />
        <activity
            android:name=".Activities.TicketViewActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Activities.NoteViewActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivityProfessor"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>